.container-fluid {
  background: #01904a;

  h1 {
    text-align: center;
    color: #fff;
  }
  .button1 {
    height: 80%;
    width: 100%;
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 26px;
    font-weight: 500;
    border: 0px ;
  }

  .button1:hover {
    background-color: #01904a;
    color: #f2f2f2;
  }
  .result {
    text-align: center;
  }
}

